:root {
    --bg-color: #fff;
    --text-color: #000;
    --accent-color: #F96918; 
    --contrast-color: #3d464d;
    --gray-color: #ccc;
    --red-color: #ee6e73;
    --light-grey-color: #eee;
    --hover-color: #F96918;
	--light-blue: #F7F8FB;
}